@model DtDc_Billing.Models.CashCounterSavingModel

@{
    ViewBag.Title = "Add_Saving";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<style>
    textarea {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
</style>

@*<h2>Add_Saving</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Saving</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Saving_amount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Saving_amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Saving_amount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Pf_Code, "Pf_Code", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Pf_Code", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Pf_Code, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Rason, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Rason, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Rason, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h4 class="box-title">Add Saving</h4>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">

                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal">

                        <div class="form-group lblamt">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="">Amount<span class="Reqired">*</span></label>
                                        <div class="">
                                            @Html.EditorFor(model => model.Saving_amount, new { htmlAttributes = new { @class = "form-control", placeholder = "Amount" } })
                                            @Html.ValidationMessageFor(model => model.Saving_amount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="">Reason<span class="Reqired">*</span></label>
                                        <div class="">
                                            @Html.TextAreaFor(model => model.Rason, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Address" } })
                                            @Html.ValidationMessageFor(model => model.Rason, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    @*<div class="box-footer">*@
                                    <div class="form-group">
                                        <label></label>
                                        <div class="">
                                            <input type="submit" class="btn btn-primary" value="Add" />
                                        </div>
                                    </div>
                                    @*</div>*@
                                </div>
                            </div>

                        </div>

               
                <!-- /.box-body -->
                <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
</div>
    <!-- /.content -->
</div>
    <!-- /.content-wrapper -->

}


@if (ViewBag.Success != null)
{
    <script>

        $(document).ready(function () {

            alert('Saving Added SuccessFully');

        });

    </script>

}



<style>

    .Reqired {
        color: red;
    }
</style>